<!DOCTYPE html>
<html>
<head>
  <title>Nicknameapp</title>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Vast+Shadow|Oswald|Playfair+Display' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon-up.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
  <%= yield %>
</div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
